<style>
    .list-group {
        flex-direction: row;
    }
</style>
<div class="modal fade" id="addnewrule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Add a news grab rule</h5>
            </div>
            <div class="modal-body">
                <form id="form_add_rule">
                    <h6>Basic info:</h6>
                    <div class=" row">
                        <div class="form-group col-md-4">
                            <input type="text" class="form-control" id="add_rulename" aria-describedby="emailHelp"
                                   placeholder="Name of the rule" name="nr_name">
                        </div>
                        <div class="form-group col-md-8">
                            <input type="text" class="form-control" id="add_website"
                                   placeholder="Website for this rule" name="nr_site">
                        </div>
                    </div>
                    <hr>
                    <h6>Rule:</h6>
                    <nav>
                        <div class="nav nav-tabs " id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                               href="#nav-listview-c"
                               role="tab" aria-controls="nav-listview" aria-selected="true">List View</a>
                            <a class="nav-item nav-link" id="nav-rawview" data-toggle="tab" href="#nav-rawview-c"
                               role="tab" aria-controls="nav-profile" aria-selected="false">Raw View</a>
                            <a class="nav-item nav-link" id="nav-help" data-toggle="tab" href="#nav-help-c"
                               role="tab" aria-controls="nav-contact" aria-selected="false">Help</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-listview-c" role="tabpanel"
                             aria-labelledby="nav-listview">
                            <div class="row">
                                <div class="col-md-8">
                                    <button type="button" class="btn-sm btn-success" onclick="addaruleindent()">Add
                                        Rule
                                    </button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn-sm btn-primary" onclick="generateRawRuleset()">
                                        Generate Raw Code
                                    </button>
                                </div>
                            </div>
                            <div class="row" style="text-align: center">
                                <div class="col-md-1">
                                    <b> Operations</b>
                                </div>
                                <div class="col-md-3">
                                    <b>Rule Type</b>
                                </div>
                                <div class="col-md-4">
                                    <b>Selector(if exist)</b>
                                </div>
                                <div class="col-md-4">
                                    <b>Parameters</b>
                                </div>
                            </div>
                            <div id="rule_list">
                                <p style="margin:0 auto;text-align: center;margin-top:15px;margin-button:15px;">Please
                                    add your first rule by clicking [Add Rule].</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-rawview-c" role="tabpanel" aria-labelledby="nav-rawview">
                            <div class="form-group">
                            <textarea class="form-control" id="add_ruleset-c" rows="2"
                                      placeholder="preview for the rule set" name="nr_ruleset" readonly></textarea>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-help-c" role="tabpanel" aria-labelledby="nav-help">
                            <b>Step 1.</b>Fill the basic info eg. rule name and website to apply<br />
                            <b>Step 2.</b>Add rules by clicking [Add Rule] in rule section.<br />
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;INFO:</b>Currently,there are two type of rules: [Grab News Container] and [Get News].<br />
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Grab News Container:</b> Get new container, it's usaully a div which mantains a list of news.<br />
                            <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Get News:</b> Get all news(Titles + links) in news container that [Grab News Container] specified.<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            News can be filtered by keywords in title.<br />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Usually, you only need one Grab Container rule and one Get News Rule to grab the news. <br />
                            <b>Step 4.</b>Click [Generate Raw Code] to generate a rule set which is able to be proceeed.<br />
                            <b>Step 5.</b>Test your rule by clicking [--Test--] button. If you can get news' title then your rule set is correct, you may need to restruct your rule otherwise.<br />
                            <b>Step 6.</b>After comfirming your rule works fine, you can save your rules by clicking [Save Rule].You can edit your rule anytime in Subscription Preference section of Squeezer console<br />
                        </div>
                    </div>
                </form>
                <hr>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-sm btn-warning" onclick="testNewRule()">-- Test --</button>
                    </div>
                    <div class="col-md-10" id="testresult">After you added rule information,please click test to
                        test if the rule works as expected. The test result(grabbed news) will be displayed in this
                        filed.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="viewrule_btn" style="display: none;">
                    <button type="button" class="btn btn-danger" onclick="closeview()">Close</button>
                    <button type="button" class="btn btn-primary">Update</button>
                </div>
                <div id="addrule_btn">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="canceladd()">Cancel
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addrule()">Save Rule</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function testNewRule() {
        if (validateform() == false) {
            alert("please fill all necessary filed before you continue.");
            return;
        }
        $.ajax({
            url: '/api/testrule',
            type: 'post',
            dataType: 'html',
            data: $("#form_add_rule").serialize(),
            success: function (data) {
                $("#testresult").html(data);
            }
        });

    }

    function selectRuleType(id) {
        var selval = $("#add_ruletype_" + id).val();
        switch (selval) {
            case "rt_gnc":
                $("#add_gnc_selector_" + id).show();
                $("#add_gnc_params_" + id).show();
                $("#add_gnc_params_" + id).attr("placeholder", "childs to ignore,use comma to separate");
                break;
            case "rt_gn":
                $("#add_gnc_selector_" + id).hide();
                $("#add_gnc_params_" + id).show();
                $("#add_gnc_params_" + id).attr("placeholder", "keywords to ignore, use comma to separate");
                break;
            default:
                console.log("no selected or unexpected value.")
                return;
        }
        $("#ruleapplied_" + id).text("TRUE");
    }

    function generateRawRuleset() {
        //start of new code
        rulelist = $("#rule_list > div");
        if (rulelist.length == 0) {
            alert("Please add rules before you proceed.")
            return;
        }
        var ruleset = [];
        for (var t = 0; t < rulelist.length; t++) {
            var ruleid = rulelist[t].id.substr(5);
            if ($("#ruleapplied_" + ruleid).text() == "FALSE") {
                alert("Please fill empty rules or remove them.");
                return;
            }
            var selval = $("#add_ruletype_" + ruleid).val();
            var ruleparam = [];
            var action = "";
            switch (selval) {
                case "rt_gnc":
                    action = "SELECT_ALL";
                    ruleparam.push($("#add_gnc_selector_" + ruleid).val());
                    var ilist = []
                    var silist = $("#add_gnc_params_" + ruleid).val().split(",");
                    for (var i = 0; i < silist.length; i++) {
                        ilist.push(parseInt(silist[i]));
                    }
                    ruleparam.push(ilist);
                    break;
                case "rt_gn":
                    action = "GET_NEWS"
                    silist = $("#add_gnc_params_" + ruleid).val().split(",");
                    ruleparam.push(silist);
                    break;
            }
            // make up rule and fill it into the preview
            ruleset.push([action, ruleparam]);
        }
        $("#add_ruleset-c").val(JSON.stringify(ruleset));
        return;
    }

    function addrule() {
        if (validateform() == false) {
            alert("please fill all necessary filed before you continue.");
            return;
        }
        $.ajax({
            url: '/api/addrule',
            type: 'post',
            dataType: 'html',
            data: $("#form_add_rule").serialize(),
            success: function (data) {
                alert(data);
            }
        });
    }

    function canceladd() {
        $('#addnewrule').modal('hide');
        resetPopupWindow();
    }

    function closeview() {
        $('#addnewrule').modal('hide');
        $("#addrule_btn").toggle();
        $("#viewrule_btn").toggle();
        resetPopupWindow();
    }

    function resetPopupWindow() {
        // clear popup data
        $("#add_rulename").val("");
        $("#add_website").val("");
        $("#add_ruleset-c").val("");
        $("#testresult").html("After you added rule information,please click test to test if the rule works as expected. The test result(grabbed news) will be displayed in this filed.");
        $("#rule_list").html(`<p style="margin:0 auto;text-align: center;margin-top:15px;margin-button:15px;">Please add your first rule by clicking [Add Rule].</p>`);
    }

    var currule_id = 1;
    var first_add = true;
    var ruleident = `                                <div class="row" id="rule_@ID" style="margin-top:1px;">
                                    <div class="col-md-1" style="text-align: center;">
                                        <button type="button" class="btn btn-sm btn-light " onclick="javascript:$('#rule_@ID').remove();">Del @ID</button>
                                         <p style="display: none;" id="ruleapplied_@ID">FALSE</p>
                                    </div>
                                    <div class="col-md-3">
                                        <select class="form-control form-control-sm" id="add_ruletype_@ID"
                                                onchange="selectRuleType(@ID)">
                                            <option>---Select Rule Type---</option>
                                            <option value="rt_gnc">Grab News Container</option>
                                            <option value="rt_gn">Get News</option>
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control form-control-sm" id="add_gnc_selector_@ID"
                                               placeholder="selector which selects news from a news list." style="display: none;">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control form-control-sm"
                                               id="add_gnc_params_@ID"
                                               placeholder="child list to ignore,use comma to split multiples" style="display: none;">
                                    </div>
                                </div>`;

    function addaruleindent() {
        if (first_add) {
            $("#rule_list").html("");
            first_add = false;
        }
        $("#rule_list").append(ruleident.replaceAll("@ID", currule_id));
        currule_id++;

    }
</script>