<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

    <title>Console - Squeezer</title>
</head>
<body>
<div class="container">
    <div style="text-align: right;margin-top: 2%"><a href="logout">Log out</a></div>
    <h2 style="margin-bottom: 5%;margin-top: 1%">Squeezer Console</h2>
    <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        Welcome
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    This is a simple application for daily news push. You can set different grape rules for different
                    sites. And we will push all the message you subscribed it to you at the time you set.
                    You can change your Email preference in [Email Preference] section. You can add grape rules for
                    different site in [Subscriptions Preference].
                    <h5>Status</h5>
                    <div class="row">
                        <div class="col-md-4">Sample:<span class="badge badge-success">Running</span></div>
                        <div class="col-md-4">Sample:<span class="badge badge-danger">Terminated</span></div>
                        Job Scheduler:
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Email Preference
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="exampleInputEmail1" style="padding-top: 4px;">Email address</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" id="usueremail"
                                       aria-describedby="emailHelp" placeholder="Enter email" value="{{ email }}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" onclick="updateInfo('email')">Update</button>
                        </div>
                        <small id="emailHelp" class="form-text text-muted"
                               style="margin-left: 17px;margin-bottom: 25px;">All you subscribed information will be
                            sent
                            to the email address above.
                        </small>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="exampleInputEmail1" style="padding-top: 4px;">Preferred Time</label>
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control" id="time_hour">
                                <option>00</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>

                            </select>
                        </div>
                        <div class="col-md-2 form-group">
                            <select class="form-control" id="time_minute">
                                <option>00</option>
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                                <option>13</option>
                                <option>14</option>
                                <option>15</option>
                                <option>16</option>
                                <option>17</option>
                                <option>18</option>
                                <option>19</option>
                                <option>20</option>
                                <option>21</option>
                                <option>22</option>
                                <option>23</option>
                                <option>24</option>
                                <option>25</option>
                                <option>26</option>
                                <option>27</option>
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>
                                <option>32</option>
                                <option>33</option>
                                <option>34</option>
                                <option>35</option>
                                <option>36</option>
                                <option>37</option>
                                <option>38</option>
                                <option>39</option>
                                <option>40</option>
                                <option>41</option>
                                <option>42</option>
                                <option>43</option>
                                <option>44</option>
                                <option>45</option>
                                <option>46</option>
                                <option>47</option>
                                <option>48</option>
                                <option>49</option>
                                <option>50</option>
                                <option>51</option>
                                <option>52</option>
                                <option>53</option>
                                <option>54</option>
                                <option>55</option>
                                <option>56</option>
                                <option>57</option>
                                <option>58</option>
                                <option>59</option>
                            </select>
                        </div>
                        <div class="col-md-2">Format HH:MM</div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-primary" onclick="updateInfo('time')">Update</button>
                        </div>
                        <small id="emailHelp" class="form-text text-muted"
                               style="margin-left: 17px;margin-bottom: 25px;">Time to send email to you.Squeezer will
                            deal with the
                            timezone.
                        </small>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="apikey" style="padding-top: 4px;">SendGrid API Key:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="password" class="form-control" id="apikey" value="{{ apikey }}"
                                       aria-describedby="emailHelp" placeholder="Enter your API key">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-warning" onclick="showAPIkey()" id="apikeydisplay">
                                Show
                            </button>
                            <button type="submit" class="btn btn-primary" onclick="updateInfo('apikey')">Update</button>
                        </div>
                        <small id="emailHelp" class="form-text text-muted"
                               style="margin-left: 17px;margin-bottom: 25px;">We will use the API key you provided to
                            send you the email via <a href="https://sendgrid.com" target="_blank">SendGrid</a>.
                        </small>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Subscriptions Preference
                        </button>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#addnewrule">New Rule
                                </button>
                            </div>
                            <div class="col-md-8">
                                <p style="margin-left: 17px;margin-bottom: 25px;margin-top: 15px;">You have
                                    <span>{{ ruledata | length }}</span>
                                    rules in active.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div style="width: 85%;margin: 0 auto;">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Rule Name</th>
                                        <th scope="col">Site</th>
                                        <th scope="col">Operation</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for rule in ruledata %}
                                        <tr>
                                            <th scope="row">{{ loop.index }}</th>
                                            <td>{{ rule[0] }}</td>
                                            <td>{{ rule[1] }}</td>
                                            <td>
                                                <button type="button" class="btn btn-success btn-sm"
                                                        onclick="viewRule('rule_{{ loop.index }}')">View
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm"
                                                        onclick="delRule('rule_{{ loop.index }}')">Delete
                                                </button>
                                                <div id='rule_{{ loop.index }}'
                                                     style="display: none">{{ rule[2] }}</div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- add ruleset -->
    {% include  "parts_console/rulesetpopup.html" %}

    <hr style="margin-top: 50px">
    <div class="row">
        <div class="col-md-6">
            <a href="https://github.com/ankanch/Squeezer" target="_blank">Squeezer</a> by <a href="http://akakanch.com/"
                                                                                             target="_blank">Kanch</a>.
        </div>
        <div class="col-md-6" style="text-align: right">
            {{ version }}
        </div>
    </div>
</div>
<script>

    var apikeydisplay = false;
    var ruleset = [];

    function showAPIkey() {
        if (apikeydisplay) {
            apikeydisplay = false;
            $("#apikey").prop('type', 'password');
            $("#apikeydisplay").html("Show");
        } else {
            apikeydisplay = true;
            $("#apikey").prop('type', 'text');
            $("#apikeydisplay").html("Hide");
        }
    }

    function validateform() {
        var fid = new Array("add_rulename", "add_website", "add_ruleset");
        var checkstatus = true;
        fid.forEach(element => {
            if ($("#" + element).val() == "") {
                checkstatus = false;
            }
        });
        return checkstatus;
    }

    String.prototype.replaceAll = function (search, replacement) {
        var target = this;
        return target.replace(new RegExp(search, 'g'), replacement);
    };

    function viewRule(id) {
        $('#addnewrule').modal('show');
        $("#addrule_btn").toggle();
        $("#viewrule_btn").toggle();
        // portion of rule data are split by "-SP;"
        ruledata = ($("#" + id).html()).split("-SP;");
        $("#add_rulename").val(ruledata[1]);
        $("#add_website").val(ruledata[2]);
        ruledata = ruledata[3].replaceAll("&gt;", ">");
        $("#add_ruleset-c").val(ruledata);
        resolveListView(ruledata.replaceAll("'", "\""));

    }

    function resolveListView(rawview) {
        $("#rule_list").html("");
        srs = JSON.parse(rawview);
        for (var i = 0; i < srs.length; i++) {
            var rule = srs[i];
            var rtype = rule[0];
            var rcmd = rule[1];
            var ruledata = ruleident.replaceAll("@ID", i);
            $("#rule_list").append(ruledata);
            var cmdtypecode = "";
            switch (rtype) {
                case "SELECT_ALL":
                    cmdtypecode = "rt_gnc";
                    break;
                case "GET_NEWS":
                    cmdtypecode = "rt_gn";
                    break;
            }
            $("#add_ruletype_" + i).val(cmdtypecode);
            selectRuleType(i);
            $("#add_gnc_selector_" + i).val(rcmd[0]);
            $("#add_gnc_params_" + i).val(rcmd[1]);
        }
    }

    function delRule(id) {
        ruledata = ($("#" + id).html()).split("-SP;");
        ruleid = ruledata[1];
        if (confirm("Comfirm to delete the rule [" + ruleid + "] ?")) {
            $.ajax({
                url: '/api/delrule',
                type: 'post',
                dataType: 'html',
                data: {ruleid: ruleid},
                success: function (data) {
                    alert(data);
                }
            });
        }
    }

    function updateInfo(infotype) {
        var data = "";
        switch (infotype) {
            case "email":
                data = $("#usueremail").val();
                break;
            case "time":
                var hh = $('#time_hour').find(":selected").text();
                var mm = $('#time_minute').find(":selected").text();
                data = hh + ":" + mm;
                break;
            case "apikey":
                data = $("#apikey").val();
                break;
            default:
                alert("wrong infotype");
                break;
        }
        $.ajax({
            url: '/api/updateinfo',
            type: 'post',
            dataType: 'html',
            data: {infotype: infotype, data: data},
            success: function (data) {
                alert(data);
            }
        });

    }

    $(document).ready(function () {
        $("#time_hour").val("{{ pushtime[0] }}").change();
        $("#time_minute").val("{{ pushtime[1] }}").change();
    });

</script>
</body>
</html>